{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Informed Consent
{% endblock %}

{% block content %}
<p>
Informed consent:
    <br>
    Hello and thank you for participating in our study.
    <br>There are no known risks or benefits from participating in this study.
    <br>It will take about 15 minutes to complete the study.
    <br>Your participation is completely voluntary, and you are free to withdraw at any time.
    <br><br>
    Any information you provide will remain anonymous.<br>
    Also, you are asked to complete this study in a sequence, without taking breaks during your participation.<br>
    <strong>This study cannot be taken from a mobile device.</strong><br>
    If you have any questions concerning this study, please email Adi Ezer at adi.ezer@campus.technion.ac.il.
    <br>Thank you for choosing to take part in this study.

    <br><br>
    If you choose <strong>"I agree to participate in the experiment"</strong>,
    you will be moving on to the Training page upon pressing "Next".
    <br>
    If you choose <strong>"I do not agree to participate in the experiment"</strong>,
    you will be ending the experiment upon pressing "Next".
    <br><br>
    {% formfields %}

</p>


    {% next_button %}

{% endblock %}


