{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Informed Consent
{% endblock %}

{% block content %}
<p>
Informed consent:
    <br>
    Hello and thank you for participating in our study.
    There are no known risks or benefits from participating in this study.
    It will take about 15 minutes to complete the study.
    Your participation is completely voluntary, and you are free to withdraw at any time.
    Any information you provide will remain anonymous.
    Also, you are asked to complete this study in a sequence, without taking breaks during your participation.
    This study cannot be taken from a mobile device.
    If you have any questions concerning this study, please email Adi Ezer at adi.ezer@campus.technion.ac.il.
    Thank you for choosing to take part in this study.
    {% formfields %}

</p>


    {% next_button %}

{% endblock %}


