{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}
<p>
    Instructions:
    <br>

    Hello and thank you for participating in our experiment.
    The following experiment will include six rounds of 2 minutes each.
    In each round you will be presented with an image of an object.
    You will be asked to come up with as much different uses as you can for this object.
    In the next page will be asked to perform a training task where you are asked to
    come up with as much different uses as you can for a sheet protector.

    If you chose "I do not agree to participate in the experiment",
    you will be moving on to the Training page upon pressing "Next".
    If you chose "I agree to participate in the experiment",
    you will be ending the experiment upon pressing "Next".


</p>


    {% next_button %}

{% endblock %}


