{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}
<p>

    Hello and thank you for participating in our experiment.
    <br>The following experiment will include six rounds of 2 minutes each.
    <br>In each round you will be presented with an image of an object.
    <br>You will be asked to come up with as much different uses as you can for this object.
    <br>In the next page will be asked to perform a training task where you are asked to
    <br>come up with as much different uses as you can for a sheet protector.
    <br><br>
    <strong>Please do not refresh your browser while participating in the experiment!</strong>
</p>


    {% next_button %}

{% endblock %}


