<script type="text/javascript">

function stopRKey(evt) {
  var evt = (evt) ? evt : ((event) ? event : null);
  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
  if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
}

document.onkeypress = stopRKey;

</script>



{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Training - Sheet Protector
{% endblock %}

<style>
    .browse-tip{
      display:none;
    }
  </style>
<div>
<img src="https://i.imgur.com/gM5yeyS.jpg" class="browse-tip" id="imgHideShow">
</div>



<script>
  document.addEventListener("DOMContentLoaded", function(){
    setTimeout(function(){
      showImage();
      setInterval(hideImage, 50);
    },3000);
  });
  function hideImage(){
    document.getElementById( "imgHideShow" ).style.display = "none" ;
  }
  function showImage(){
    document.getElementById( "imgHideShow" ).style.display = "block" ;
  }
</script>

{% block content %}


{% formfields %}

    {% next_button %}
{% endblock %}


